.confirmation_box {
    margin: 0 auto;
    width: 80%;

    padding: 1%;
    padding-bottom: 5%;

    text-align: center;
   


    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to left, var(--red), var(--maroon), var(--flamingo), var(--peach), var(--yellow)) 1;
 
    border-radius: 16px;
}

.cancel {
    background-image: linear-gradient(to right, var(--red), var(--peach));
}

.cancel:hover {
    background-image: linear-gradient(to left, var(--red), var(--maroon));;
}


.confirm {
    margin: 0;
    margin-right: 2%;
    background-image: linear-gradient(to left, var(--green), var(--cyan));
}

.confirm:hover {
    background-image: linear-gradient(to left, var(--cyan), var(--blue));
}