#main_feed {

    margin-left: 1%;

    /* 
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to top, var(--red), var(--maroon), var(--flamingo), var(--peach), var(--yellow)) 1;
    */
}

.handle, .my_handle {
    margin-right: 2%;
    font-size: large;
    font-style: italic;
}

.handle {
    color: var(--rosewater);
}    

.my_handle {
    margin: 0;
    margin-right: 2%;

    text-decoration: underline;
    color: var(--green);
}    

.user_handle {
    display: flex;
    flex-direction: row;
    margin-top: 0.5%;
}

.handlebar {
   font-size: small;
   margin: 0;
   margin-top: 1%;
   margin-left: 1%;

   color: #5b6078;
}

.handlebar:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--blue);
 }
 

.card {
    width: 93%;

    text-align: left;

    margin-left: 5%;
    margin-bottom: 5%;

    padding-left:   1%;
    padding-bottom: 1%;

    border-radius: 2px;
    border: 1px solid var(--text);
    
    box-shadow: 6px 6px 12px var(--background);

    background-color: var(--background_light);
}